.sidebar {
  min-width: 180px;
    width: 15%;
    background-color: #e3fed1;
    padding: 1rem;
    
  }
  
  .sidebar ul {
    list-style: none;
    padding: 5%;
    text-align: center;
    
  }
  
  .sidebar li {
    margin: 1rem 0;
    padding: 10%;
    background-color: #89e290;
    border-radius: 10px;
  }
  .sidebar li:hover{
    background-color: rgb(140, 250, 171);
    transform: scale(1.05);

  }
  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  